body {
	margin: 0;
	padding: 0;

}

canvas {
	display: block;
	width: 100vw;
	height: 100vh;
	//background-position: center;
	//background-repeat: no-repeat;
	//background-size: cover;
	//background-image: url("../assets/lights.jpeg");

	//background-image: url("../assets/lights.jpeg");
	//background-color: aqua;
}